<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-link">Salir</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Chat messenger</h1>
      <h2 class="subtitle">Bienvenido, es hora de chatear!</h2>
    </div>
  </div>
</section>
<div class="chat-container">
  <div *ngFor="let message of messages" [ngClass]="{ 'user-container': message.user.id === user.id,
    'guest-container': message.user.id !== user.id }">
    <p class="user-message" [ngClass]="{ 'user-message': message.user.id === user.id,
      'guest-message': message.user.id !== user.id }">
      <span class="username" *ngIf="message.user.id !== user.id">{{ message.user.username }} <br></span>
      {{ message.message }}
    </p>
  </div>
</div>
<div>
  <form (ngSubmit)="sendMessage()" [formGroup]="chatForm">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input" name="userInput" type="text" placeholder="Escribe un mensaje..."
          formControlName="message" />
      </div>
      <div class="control">
        <button class="button is-dark">Enviar</button>
      </div>
    </div>
  </form>
</div>
